*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    
}

p {
    font-weight: 500;  
}

a {
    text-decoration: none;
    color: #262626;
}

a:hover {
    color: #fff;
}

header {
    height: 100vh;
    background-image: linear-gradient(-225deg, rgba(227, 253, 245, 0.503) 0%, rgba(255, 230, 250, 0.503) 100%),url(../img/GranArbol.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.contenedor-head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   



.contenedor-head img {
    width: 300px;
}


.menuBtn {
    position: fixed;
    top: 30px;
    right: 30px;
    background: red;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vh;
    height: 100%;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 100;
}

.spread {
    transform: translate(0);
}

.menu-navegacion a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    font-weight: 300;
    font-size: 25px;
}


/* nuestro tratamiento */

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #262626;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-tratamiento {
    display: flex;
    background-image: linear-gradient(to bottom, rgba(213, 222, 231, 0.513) 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 65px;
}

.contenedor-tratamiento img {
    width: 40%;
    padding-bottom: 15px;
}

.checklist-tratamiento {
    width: 45%;
}

.tratamiento {
    margin-bottom: 20px;
}

.n-tratamiento {
    margin-bottom: 7px;
    color: #262626;
}

.fraseAlpie {
    color: yellow;
}


.number {
    display: inline-block;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 30px;
    height:30px;
    color:#fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}




/* galeria */

.gallery {
    background: #f2f2f2;
    
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

.img-gallery {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
   
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}



/* footer */

footer {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    padding-bottom: .1px;
    height: 1200px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.frasePie {
    position: absolute;
    left: 0;
    margin-bottom: 140px;
    color: red;    
}

.contact-us {
    width: 40%;
    color: #fff;

}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color:#fff;
}

.social-media-icon:hover {
    background: #fff;
    color: gray;
}

.social-media-icon {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}





@media screen and (max-width:800px){
    .menu-navegacion {
        width: 50vw;
        z-index: 1000;
    }

    .titulo {
        font-size: 40px;
    }

    .fraseAlpie {
        color: yellow;
        top: -70px;

    }

    .contenedor-tratamiento {
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-tratamiento {
        width: 80%;   
    }

    .tratamiento {
        margin-bottom: 30px;
    }

    .agregar-imagen {
        width: 80%;
    }

    .img-gallery {
        width: 45%;
    }

    .cont-filosophy {
        width: 80%;
    }

    .footer-contact {
        justify-content: center;
    }

    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon {
        margin-left: 0;
    }

    .social-media i {
        margin-left: 0;
    }

    .frasePie {
        color: greenyellow;
        margin-bottom: 240px;
    }

    .contact-us {
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    
    .fraseAlpie {
        margin-top: -50px;
        margin-left: 65px;
    }
    
    .menu-navegacion {
        width: 65vw;
        z-index: 100;   
    }

    .menuBtn {
        top: 20px;
        right: 20px;
    }

    

    .titulo {
        font-size: 30px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .agregar-imagen {
        width: 95%;
    }

    .img-gallery {
        width: 95%;
    }

    .social-media {
        width: 100%;
    }

    .contact-us {
        width: 90%;
    }

    .frasePie {
        position: absolute;
        left: 0;
        margin-bottom: 240px;  
        font-size: small;
    }
}